# only for development purposes

services:
  db:
    container_name: blog_backend_db
    image: postgres:17.7
    environment:
      POSTGRES_USER: blog_user
      POSTGRES_PASSWORD: blog_password
      POSTGRES_DB: blog_db
    ports:
      - "5432:5432"
    volumes:
      - ./blog.sql:/docker-entrypoint-initdb.d/blog.sql
      - db_data:/var/lib/postgresql/data
  
  app:
    container_name: blog_backend_app
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    env_file:
      - .env.development
    depends_on:
      - db

volumes:
  db_data:
